@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glömt lösenord?";
    Layout = "_Login";
}

<h1>@ViewData["Title"]</h1>

<section class="loginsection">
    <form method="post">
        <h2>Ange din e-post</h2><br>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Input.Email" class="form-label">E-post</label><br>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" /><br><br>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <button type="submit" class="btnaccent">Återställ lösenord</button>
    </form>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}